@media (prefers-color-scheme: light){
    :root {
        --defaultRead:#353535;
        --defaultBack:#fff;
        --defaultMedium:#f9f9f9;
        --defaultFar:#f0f0f0;
        --accent:#008bcc;
    }
}

@media (prefers-color-scheme: dark){
    :root {
        --defaultRead:#f9f9f9;
        --defaultBack:#000;
        --defaultMedium:#0a0a0a;
        --defaultFar:#0f0f0f;
        --accent:#17aaa5;
    }


}

html{
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: var(--defaultMedium);
    color: var(--defaultRead);
}

a{
    text-decoration: none;
    color: var(--defaultRead);
}

.content{
    margin: 20vw;
}

header{
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    transition: ease-in-out 1s;
    font-family: "Exo 2", sans-serif;
    z-index: 1;
    box-sizing: border-box;
}

.flex-header{
    background-color: var(--accent);
    padding:15px 0 15px 1vh;
    font-size: 2em;
}

.flex-header p {
    display: inline-block;   
}

.flex-header a{
    padding: 15px;
    cursor: pointer;
    position: relative;
    color: var(--defaultBack);
    font-family: "Alfa slab one", Arial, Helvetica, sans-serif;
}

.hero-text{
	background-color: var(--accent);
    color: var(--defaultBack);
    box-sizing: border-box;
	font-size: 6em;
	padding: 5vw 0 5vw 1vh;
    font-family: "Alfa slab one", sans-serif;
    text-transform: uppercase;
}

.hero-text h2{
    font-size: 0.5em;
}

.hero-text h3{
    font-size: 0.25em;
}

.text-header{
    font-size: 2em;
    text-align: center;
    padding: 15px 15px 0;
}
.text{
    font-size: 1.5em;
    padding: 32px;
    line-height: 1.7em;
}

.text a{
    color: var(--defaultRead);
    text-decoration: none;
    font-weight: bold;
}

.text b{
    font-weight: bold;
}

.accordion{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    padding: 5vh;
    box-sizing: border-box;
}

.accordion-header{
    display: flex;
    font-size: 1.2em;
    cursor: pointer;
    padding: 10px;
    background-color: var(--defaultBack);
}

.accordion-content{
    font-size: 1em;
    max-height: 0;
    transition: all 0.6s;
    padding: 0 10px;
    overflow: hidden;
    background-color: var(--defaultFar);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
}

.active{
    max-height: 200px;
    padding: 10px;
}

@media (width <= 1600px) {
    html{
        font-size: 14px;
    }
}
@media (width <= 1400px) {
    main{
        margin: 15vw;
    }
}
@media (width <= 1200px) {
    html{
        font-size: 12px;
    }
    main{
        margin: 10vw;
    }
}
@media (width <= 1000px){
    main{
        margin: 0vw;
    }
    .text-header{
        font-size: 2.5em;
    }
    .text{
        font-size: 1.25em;
    }
}
@media (width <= 700px){
    html{
        font-size: 10px;
    }
    .text-header{
        font-size: 3em;
    }
    .text{
        font-size: 1.5em;
    }
    .hero-text{
        font-size: 5em;
    }
    .hero-text h2{
        font-size: 0.6em;
    }
        .hero-text h3{
        font-size: 0.4em;
    }
}
@media (width <= 600px){
    html{
        font-size: 12px;
    }
    .text{
        font-size: 2em;
    }
}
@media (width <= 500px){
    html{
        font-size: 8px;
    }
}
