@media (prefers-color-scheme: light){
    :root {
        --defaultRead:#000;
        --defaultBack:#fff;
        --defaultMedium:#aaa;
        --accentOne:#dd0099;
        --accentTwo:#0099ff;
    }
    body{
        background-color: var(--defaultBack);
        color: var(--defaultRead);
    }
}

@media (prefers-color-scheme: dark){
    :root {
        --defaultRead:#fff;
        --defaultBack:#000;
        --defaultMedium:#111;
        --accentOne:#00ff99;
        --accentTwo:#9900dd;
    }
    body{
        background-color: var(--defaultBack);
        color: var(--defaultRead);
    }
    .logo{
        filter: invert(100);
    }
    
}

main{
    background-color: var(--defaultMedium);
    margin: 20vw;
}

.flexFlow{
    display: flex;
    flex-direction: row;
}
.flexFlow li{
    margin: 0 20px;
    padding: 5px;
    cursor: pointer;
    position: relative;
    font-size: 2em;
}
.flexFlow li a::after{
	content:'';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--defaultRead);
	height: 2px;
	transform: scaleX(0);
	transform-origin: center;
	transition: transform 0.3s ease;
    box-shadow: 0 0 5px var(--defaultRead);
}
.flexFlow li a:hover::after{
	transform: scaleX(1);
}
a{
    text-decoration: none;
    color: var(--defaultRead);
}


.logo{
    width: 200px;
    cursor: pointer;
}

header{
    background-color: var(--defaultBack);
    padding:10px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    transition: ease-in-out 1s;
}

.mobile-header{/*Used for making sure mobile has the right header*/
    display: none;
}

.mobile-flex-header{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.mobile-logo{
	width:50px;
}

.title-text, .hamburger{
    font-size: 2em;
}

.desktop-header{ /*Used for making sure the desktop has the right header*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    height:calc(10svh);
    box-sizing: border-box;
    overflow-x: hidden;
}

.hidden{
	opacity: 0;
	filter:blur(2px);
	transform: translateY(-15%);
}
.show{
	filter:blur(0px);
	transform: translateX(0);
	opacity: 1;
	transition:ease-in-out 1.5s;
}

.hero-text{
	background: -webkit-linear-gradient(90deg, var(--accentOne), var(--accentTwo));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    box-sizing: border-box;
	text-align: center;
	font-size: 7em;
	padding:calc(22vw - 0.5em) 0;
    font-family: "Pacifico", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.shrunk{
    font-size: 3em;
	padding:calc(5vw - 0.5em);
    transition:ease-in-out 0.5s;
}

.break-image{
    background-image: url('images/bibleBreak.jpg');
    background-position: center;
    background-repeat:no-repeat;
    background-size:cover;
}
.break-image p {
    padding: 10vw;
}

/* Scroll bar stuff */
body::-webkit-scrollbar {
    width: 10px;
}
body::-webkit-scrollbar-track {
    background: white; 
}
body::-webkit-scrollbar-thumb {
    background: #555; 
}
body::-webkit-scrollbar-thumb:hover {
    background: black; 
}

@media (width <= 1600px) {
    html{
        font-size: 14px;
    }
}
@media (width <= 1400px) {
    main{
        margin: 15vw;
    }
}
@media (width <= 1200px) {
    html{
        font-size: 12px;
    }
    main{
        margin: 10vw;
    }
}
@media (width <= 1000px){
    main{
        margin: 0vw;
    }
}
@media (width <= 700px){
    html{
        font-size: 10px;
    }
    .desktop-header{
        display: none;
    }
    .mobile-header{
        display: block;
    }
}
@media (width <= 400px){
    html{
        font-size: 8px;
    }
}